<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/pagehandling.js"></script>
        <script src="static/js/app.js"></script>
        {{/* AngularJS for added email address */}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        {{/* Send data to javascript */}}
        {{$theUser := .TheUser}}
        {{$messageDisplay := .MessageDisplay}}
        {{/* Emails are weired templates...do them first */}}
        {{range $element := .TheUser.Email}}
            {{template "setEmail" $element}}
        {{end}}

        {{template "setUsername" .TheUser.UserName}}
        {{template "setPassword" .TheUser.Password}}
        {{template "setFirstname" .TheUser.Firstname}}
        {{template "setLastname" .TheUser.Lastname}}
        {{template "setPhoneNums" .TheUser.PhoneNums}}
        {{template "setUserID" .TheUser.UserID}}
        {{template "setWhoAre" .TheUser.Whoare}}
        {{template "setAdminOrgs" .TheUser.AdminOrgs}}
        {{template "sendBanned" .TheUser.Banned}}
        {{template "setDateCreated" .TheUser.DateCreated}}
        {{template "setDateUpdated" .TheUser.DateUpdated}}

        {{/* Here is our header */}}
        {{template "header_everywhere" $theUser}}

        
        {{/* Main */}}
        <div class="mainContentDiv">
            <p>In the Learnr Page</p>
        </div>
        {{/* Here is our footer */}}
    </body>
</html>