<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "loginFonts"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/pagehandling.js"></script>
        <script src="static/js/login.js"></script>
        {{/* AngularJS for added email address */}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body class="bodyLoginPage">
        {{/* Here is our header */}}
        
        <div class="divLoginStuff">
            <div class="divformDiv" id="divformDivLogin">
                <div class="instructUserDiv">
                    <p class="logininstructP">
                        LearnR Login
                    </p>
                </div>
                <!-- Actual Form -->
                <div class="signInAlignmentDiv">
                    {{/* Used to display any errors upon messups */}}
                    <div class="errorLoginDiv">

                    </div>
                    {{/* USERNAME */}}
                    <div class="inputLoginDiv">
                        <input class="inputSignIn" type="text" name="username" 
                        placeholder="Enter your Username!" minlength=1 maxlength=20 id="inputTextMobileUN" required/>
                    </div>
                </div>
            </div>
        </div>
        
        {{/* Here is our footer */}}
    </body>
</html>