<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/pagehandling.js"></script>
        <script src="static/js/app.js"></script>
        {{/* AngularJS for added email address */}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        {{/* Send data to javascript */}}
        {{$theUser := .TheUser}}
        {{$messageDisplay := .MessageDisplay}}
        {{/* Need to loop through arrays because Javascript dosen't like what gets passed in */}}
        {{/* Emails */}}
        {{range $element := .TheUser.Email}}
            {{template "setEmail" $element}}
        {{end}}
        {{/* Admin Orgs */}}
        {{range $element := .TheUser.AdminOrgs}}
            {{template "setAdminOrgs" $element}}
        {{end}}
        {{/* Org Member */}}
        {{range $element := .TheUser.OrgMember}}
            {{template "setOrgMember" $element}}
        {{end}}
        {{/* Phone Nums */}}
        {{range $element := .TheUser.PhoneNums}}
            {{template "setPhoneNums" $element}}
        {{end}}
        {{/* LearnRs */}}
        {{range $element := .OrganizedLearnRs}}
            {{/* Add basic stats to LearnR */}}
            {{template "sendid" $element.ID}}
            {{template "sendinfoid" $element.InfoID}}
            {{template "orgid" $element.OrgID}}
            {{template "learnrname" $element.Name}}
            {{template "learnractive" $element.Active}}
            {{template "learnrdatecreated" $element.DateCreated}}
            {{template "learnrdateupdated" $element.DateUpdated}}
            {{/* Add values for arrays to Learnr */}}
            {{range $element1 := .OrganizedLearnRs.Tags}}
                {{template "settags" $element1}}
            {{end}}
            {{range $element2 := .OrganizedLearnRs.Description}}
                {{template "setdescription" $element2}}
            {{end}}
            {{range $element3 := .OrganizedLearnRs.PhoneNums}}
                {{template "learnrphonenums" $element3}}
            {{end}}

            {{/* Add values for LearnInforms */}}
            {{range $element4 := .OrganizedLearnRs.LearnRInforms}}
                {{template "sendlearnrinformid" $element4.ID}}
                {{template "sendlearnrinformname" $element4.Name}}
                {{template "sendlearnrlearnrinformid" $element4.LearnRID}}
                {{template "sendlearnrnameinform" $element4.LearnRName}}
                {{template "sendorderinform" $element4.Order}}
                {{template "sendinfoinform" $element4.TheInfo}}
                {{template "sendshouldwaitinform" $element4.ShouldWait}}
                {{template "sendwaittimeinform" $element4.WaitTime}}
                {{template "senddatecreatedinform" $element4.DateCreated}}
                {{template "senddateupdatedinform" $element4.DateUpdated}}
                {{template "sendtheinform"}}
            {{end}}


            {{/* Learnr is assembled, send it to Javascript object */}}
            {{template "sendLearnR"}}
            
        {{end}}

        {{template "setUsername" .TheUser.UserName}}
        {{template "setPassword" .TheUser.Password}}
        {{template "setFirstname" .TheUser.Firstname}}
        {{template "setLastname" .TheUser.Lastname}}
        {{template "setUserID" .TheUser.UserID}}
        {{template "setWhoAre" .TheUser.Whoare}}
        {{template "sendBanned" .TheUser.Banned}}
        {{template "setDateCreated" .TheUser.DateCreated}}
        {{template "setDateUpdated" .TheUser.DateUpdated}}

        {{/* Here is our header */}}
        {{template "header_everywhere" $theUser}}

        
        {{/* Login section */}}
        <div class="mainContentDiv" id="mainContentDiv">
            <div class="searchFieldDiv">

            </div>
            <div class="learnrHolderDiv">

            </div>
            
        </div>
        {{/* Here is our footer */}}
    </body>
</html>