{{/* ****** BEGINNING OF HEAD SECTION ********/}}
{{define "meta-title"}}
    <meta charset="UTF-8">
    <title>Test LearnR Webapp</title>
{{end}}

{{define "pixel-dense"}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{end}}

{{define "fav-icon1"}}
    <link rel="shortcut icon" type="image/png" href="static/images/favicons/learnRLogoFavicon_512x512.png">
{{end}}

{{define "headerFonts"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
{{end}}

{{define "loginFonts"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&family=Uchen&display=swap" rel="stylesheet">
{{end}}

{{define "signUpFonts"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&family=Uchen&display=swap" rel="stylesheet">
{{end}}

{{define "mainPageFont"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Inter:wght@500&display=swap" rel="stylesheet">
{{end}}

{{define "makeOrgFont"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&family=Uchen&display=swap" rel="stylesheet">
{{end}}

{{define "sendHelpFont"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&family=Uchen&display=swap" rel="stylesheet">
{{end}}

{{define "learnMore"}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Luckiest+Guy&display=swap" rel="stylesheet">
{{end}}

{{define "media-queries"}}
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/styling.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 600px)" href="static/css/mq_600.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 900px)" href="static/css/mq_900.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 1500px)" href="static/css/mq_1500.css">
{{end}}

{{define "javascript"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
{{end}}

{{/******* END OF HEAD SECTION *****/}}
{{/******* SIGN IN SECTION ********/}}
{{define "login_form_section"}}
    <div class="divLoginStuff">
        {{/* Div for handling signing-in */}}
        {{template "signInFormAjax"}}
    </div>
{{end}}
{{/**** SIGN-IN FORM USING AJAX **/}}
{{define "signInFormAjax"}}
    <div id="divformDivLogin" class="divformDiv">
        <div class="instructUserDiv">
            <p class="formSign">
                Log-In
            </p>
        </div>
        <div class="signInAlignmentDiv">
            {{/* USERNAME */}}
            <div class="labelDiv">
                <p class="labelPText">
                    USERNAME:
                </p>
            </div>
            <div class="inputDiv">
                <input class="inputSignIn" type="text" name="username" placeholder="username" minlength=1 maxlength=20 id="inputTextMobileUN" required/>
                <p class="form-field-err" id="username-err"></p>
            </div>
            {{/* PASSWORD */}}
            <div class="labelDiv">
                <p class="labelPText">
                    PASSWORD:
                </p>
            </div>
            <div class="inputDiv">
                <input type="password" class="inputSignIn" name="password" placeholder="password" minlength=1 maxlength=20 id="inputTextMobilePW" required/>
                <p class="form-field-err" id="password-err"></p>
            </div>
            {{/* SUBMIT BUTTON */}}
            <div class="fieldSection">
                <!-- Sign Up Button -->
                <div class="buttonHolderDiv" style="justify-content:flex-end">
                    <button class="actionDivButton" onclick="navigateHeader(7)">Sign-Up</button>
                </div>
                <!-- Login Button -->
                <div class="buttonHolderDiv" style="justify-content:flex-start">
                    <button id="submitLoginButton" class="actionDivButton">Login</button>
                </div>
            </div>
            {{/* INFORMITIVE DIV */}}
            <div class="informativeDiv" id="informativeDivSignIn">
                <p class="informtextP" id="informtextPSignIn"></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //Define elements of the 'Ajax Form'
        var inputTextMobileUN = document.getElementById("inputTextMobileUN");
        var inputTextMobilePW = document.getElementById("inputTextMobilePW");
        var submitLoginButton = document.getElementById("submitLoginButton");
        var informtextPSignIn = document.getElementById("informtextPSignIn");

        /* When clicked, submit the results of the login items;
        if successful, it will redirect to the mainpage with your newly made cookie.
        */
        submitLoginButton.addEventListener("click", function(){
            var LoginData = {
                Username: String(inputTextMobileUN.value),
                Password: String(inputTextMobilePW.value)
            };

            var jsonString = JSON.stringify(LoginData); //stringify JSON

            //Call Ajax to see if password/username are correct
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/canLogin', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.addEventListener('readystatechange', function(){
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
                    var Response = xhr.responseText;
                    var SuccessMSG = JSON.parse(Response);
                    if (Number(SuccessMSG.SuccessNum) === 0){
                        //Successful User Search
                        //Clear informtextPSignIn
                        informtextPSignIn.innerHTML = "";
                        informtextPSignIn.innerHTML = SuccessMSG.Message;
                        //This User should have their cookie. Send them to the choice page
                        navigateHeader(3);
                    } else if (Number(SuccessMSG.SuccessNum) === 1){
                        //Failed User Search
                        //Clear informtextPSignIn
                        informtextPSignIn.innerHTML = "";
                        informtextPSignIn.innerHTML = SuccessMSG.Message;
                    } else {
                        //Failed User Search
                        //Clear informtextPSignIn
                        informtextPSignIn.innerHTML = "";
                        informtextPSignIn.innerHTML = "Wrong information returned from server";
                        console.log("Wrong number returned from canLogin: " + SuccessMSG.SuccessNum);
                    }
                }
            });
            xhr.send(jsonString);
        });
    </script>
{{end}} 
{{/****** SIGN UP SECTION ******/}}


{{/***** SIGN UP FORM *******/}}
{{define "ajaxsignup"}}
    {{/* Here is the form setup */}}
    <div id="divformDivSignUp" class="divformDiv">
        {{/* Sign Up Title Instruction */}}
        <div class="instructUserDiv">
            <p class="formSign">
                Sign-Up
            </p>
        </div>
        {{/* Begin signup form */}}
        <div class="signInAlignmentDiv">
            {{/* USERNAME */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        USERNAME:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="username" name="username" placeholder="username" minlength=1 maxlength=20 required>
                    <br>
                    <p id="form-input-info"></p>
                </div>
            </div>
            {{/* FIRSTNAME */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        FIRSTNAME:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="firstname" name="firstname" placeholder="firstname" minlength=1 maxlength=20 required>
                    <br>
                    <p id="form-input-info"></p>
                </div>
            </div>
            {{/* LASTNAME */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        LASTNAME:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="lastname" name="lastname" placeholder="lastname" minlength=1 maxlength=20 required>
                    <br>
                    <p id="form-input-info"></p>
                </div>
            </div>
            {{/* PASSWORD */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        PASSWORD:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="password" id="password" name="password" placeholder="Password" minlength=8 maxlength=20 required>
                    <br>
                    <p id="form-input-info2"></p>
                </div>
            </div>
            {{/* CHECK PASSWORD*/}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        RE-TYPE PASSWORD:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="password" id="passwordRetype" name="passwordRetype" placeholder="Re-type password" minlength=8 maxlength=20 required>
                    <br>
                    <p id="form-input-info2"></p>
                </div>
            </div>
            {{/* EMAIL */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        Email:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="email" id="email" name="myEmailInput" placeholder="Enter a valid email" maxlength=50>
                    <!-- Used to inform about status of email -->
                    <p id="emailOkay">
                        
                    </p>
                </div>
            </div>
            {{/* PRIMARY PHONE NUMBER(S) */}}
            {{/* DEBUG: Need to collect multiple phone numbers; use angular to create new tab(s)*/}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        Primary Phone Numbers:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="primaryPhoneNums" name="primaryPhoneNums" placeholder="Primary phone number" minlength=1 maxlength=20>
                    <br>
                    <p id="form-input-info"></p>
                </div>
            </div>
            {{/* TELL US ABOUT YOU */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="smallLabelPText">
                        Tell us about you! Why do you want to join LearnR? Inform a friend/family member?
                        Make your own learnR? We'd love to know!
                    </p>
                </div>
                <div class="inputDiv">
                    <textarea class="textareaTellMe" id="textareaTellMe" name="textareaTellMe" placeholder="Let us know!"></textarea>
                </div>
            </div>
            {{/* ENTER EMAIL VERIFICATION CODE */}}
            <div class="feildsSectionDiv" id="verificationDiv" style="display:none">
                <div class="labelDiv">
                    <p class="labelPTextSignUp">
                        Email Verification Code:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="verifCode" name="Email Verification Code" placeholder="Enter your verification code" maxlength=6>
                    <button class="longActionDivButton" onclick="checkCode()" id="codeCheckerB">Check Code</button>
                    <!-- Used to inform about status of email -->
                    <p id="codeOkay"></p>
                </div>
            </div>
            {{/* SUBMIT BUTTON */}}
            <div class="feildsSectionDiv">
                <div class="fieldSection" id="signUpSubmitB">
                    <button id="submitSignUpButton" class="actionDivButton">Sign-Up</button>
                </div>
            </div>
            {{/* INFORMITIVE DIV */}}
            <div class="feildsSectionDiv">
                <div class="informativeDiv" id="informativeDivSignUp">
                    <p class="informtextP" id="informtextPSignUp"></p>
                </div>
            </div>
        </div>
        <div class="informFormDiv" id="informFormDiv">
            <p class="informFormP" id="informFormP"></p>
        </div>
    </div>
{{end}}

{{/**** MAIN_HEADER ****/}}
{{define "header_everywhere"}}
    <header class="every_header">
        <div class="mbHeaderDiv">
            <!--This will contain the sites name/Picture in large font-->
            <div class="namediv">
                <img class="headerImg" src="static/images/png/learnRLogoMainTitle_2000x2000.png">
            </div>
            <!-- This arranges links to various pages -->
            <div class="navigationHolderDiv">
                <!-- Main Page -->
                <div class="navigationLinkDiv">
                    <p class="navigationLinkP" onclick="navigateHeader(3, 0)">
                        Main Page
                    </p>
                </div>
                <!-- Logout -->
                <div class="navigationLinkDiv">
                    <p class="navigationLinkP" onclick="logOut()">
                        Logout
                    </p>
                </div>
                <!-- Make Organization -->
                <div class="navigationLinkDiv">
                    <p class="navigationLinkP" onclick="navigateHeader(8, 0)">
                        Make Organization
                    </p>
                </div>
                <!-- Create LearnR and Bulk Send LearnR; NOTE: This should only be 
                visible if the User has at least ONE admin org they are
                apart of -->
                {{$userExampOrg := isAdmin .}}
                {{if eq $userExampOrg 0}}
                    <div class="navigationLinkDiv">
                        <p class="navigationLinkP" onclick="navigateHeader(10, 0)">
                            Make LearnR (Admins Only!)
                        </p>
                    </div>
                    <div class="navigationLinkDiv">
                        <p class="navigationLinkP" onclick="navigateHeader(11, 0)">
                            Bulk LearnR Send (Admins Only!)
                        </p>
                    </div>
                {{end}}
                <!-- Send Help -->
                <div class="navigationLinkDiv">
                    <p class="navigationLinkP" onclick="navigateHeader(5, 0)">
                        Send Help
                    </p>
                </div>
                <!-- Learn More -->
                <div class="navigationLinkDiv">
                    <p class="navigationLinkP" onclick="navigateHeader(4, 0)">
                        Learn More
                    </p>
                </div>
            </div>
        </div>
    </header>
{{end}}

{{/* MAKE ORG SECTION */}}
{{define "makeorg"}}
    <div class="divformDiv" id="divFormMakeOrg">
        {{/* Make Org Instruction */}}
        <div class="instructUserDiv">
            <p class="smallFormSign">
                Make your organization here! Tell me the name of your Organization and what you hope
                to inform others about. It could be a political campaign, education on a subject
                you're passionate about, or details for your next big event. What do YOU
                want others to LEARN about and why?
            </p>
        </div>
        {{/* Begin Make LearnR Org */}}
        <div class="signInAlignmentDiv">
            {{/* LEARNR ORG NAME */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="mediumPText">
                        Name of LearnR Organization:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="learnrorgname" name="learnrorgname" placeholder="Name of LearnR Organization" 
                    minlength=1 maxlength=25 required>
                    <br>
                    <p id="inputOrgInfo"></p>
                </div>
            </div>
            {{/* TELL US ABOUT YOUR ORGANIZATION */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="mediumPText">
                        LearnR Goals:
                    </p>
                </div>
                <div class="inputDiv">
                    <textarea class="textareaTellMe" id="textareaTellMe" name="textareaTellMe"
                     placeholder="Let us know why you want to make a LearnR Organization!"></textarea>
                </div>
            </div>
            {{/* SUBMIT BUTTON */}}
            <div class="feildsSectionDiv">
                <div class="fieldSection" id="signUpSubmitB">
                    <button class="longActionDivButton" id="submitLearnROrg">Submit LearnROrg</button>
                </div>
            </div>
            {{/* INFORMITIVE DIV */}}
            <div class="feildsSectionDiv">
                <div class="informativeDiv" id="informativeDivLearnOrg">
                    <p class="informtextP" id="informtextPLearnOrg"></p>
                </div>
            </div>
        </div>
        <div class="informFormDiv" id="informFormDiv">
            <p class="informFormP" id="informFormP"></p>
        </div>
    </div>
{{end}}

{{/* LEARNR MAKE SECTION */}}
{{define "makelearnr"}}
    <div class="divformDiv" id="divFormMakeLearnr">
        {{/* Make Learnr Instruction */}}
        <div class="instructUserDiv">
            <p class="superSmallFormSign">
                Make your Learnr here! Add the text messages you'd like to send to your 
                Users below,(160 characters each!). A good Learnr should be respectful. A 
                good Learnr should also be well documented, with links to respectable sources
                or research. Don't be afraid to update your Learnr if that research is updated!
            </p>
        </div>
        {{/* Begin Make LearnR */}}
        <div class="signInAlignmentDiv">
            {{/* LEARNR NAME */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPText">
                        Name of LearnR:
                    </p>
                </div>
                <div class="inputDiv">
                    <input type="text" id="learnrname" name="learnrname" placeholder="Name of LearnR" 
                    minlength=1 maxlength=40 required>
                    <br>
                    <p id="inputLearnRInfo"></p>
                </div>
            </div>
            {{/* DESCRIPTION */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="labelPText">
                        LearnR Description:
                    </p>
                </div>
                <div class="inputDiv">
                    <textarea class="textareaTellMe" id="textareaTellMe" name="textareaTellMe"
                     placeholder="What is this LearnR about?"></textarea>
                     <p id="informtextPLearnrDesc"></p>
                </div>
            </div>
            {{/* WHICH ORGANIZATION */}}
            <div class="feildsSectionDiv">
                <div class="labelDiv">
                    <p class="smallLabelPText">
                        Which Organization is this under?
                    </p>
                </div>
                <div class="inputDiv">
                    <select name="learnrorgs" id="learnrorgs">
                        {{range $element := .}}
                            <option value="{{$element.OrgID}}">{{$element.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            {{/* TAGS */}}
            <div class="feildsSectionDiv">
                <!-- Hold all the tags in this Div -->
                <div class="resultHolderTagDiv" id="resultHolderTagDiv">

                </div>
                <div class="multiInputHolderDiv">
                    <div class="labelDiv">
                        <p class="labelPText">
                            LearnR Tag:
                        </p>
                    </div>
                    <div class="inputDiv">
                        <textarea class="textareaTellMe" id="tagDesc" name="tagDesc"
                        placeholder="What word describes this LearnR?" minlength=1 maxlength=20 required></textarea>
                        <div class="addLearnRTagDiv" id="addLearnRTagDiv">
                            <button class="smallAddLearnRTagButton" id="addLearnRTagButton" onclick="addLearnRTag()">Add Learnr Tag</button>
                            <p class="informtextP" id="tagErrMsgP"></p>
                        </div>
                    </div>
                </div>
            </div>
            {{/* LEARNRINFORMS */}}
            <div class="feildsSectionDiv">
                <div class="resultHolderInformDiv" id="resultHolderInformDiv">

                </div>
                <div class="multiInputHolderDiv">
                    <!-- The text text -->
                    <div class="labelDiv">
                        <p class="smallLabelPText">
                            What texts do you want the Reader to have?
                        </p>
                    </div>
                    <div class="inputDiv">
                        <textarea class="textareaTellMe" id="textDesc" name="textDesc"
                        placeholder="What do you want this text to say?" minlength=1 maxlength=160 required></textarea>
                    </div>
                    <!-- Should wait -->
                    <div class="labelDiv">
                        <p class="smallLabelPText">
                            Should this text be given time to be read before sending the next text?
                        </p>
                    </div>
                    <div class="inputDiv">
                        <select name="timewait" id="timewait">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <!-- Amount of time waiting -->
                    <div class="labelDiv">
                        <p class="smallLabelPText">
                            How much time should the User be waiting?
                        </p>
                    </div>
                    <div class="inputDiv">
                        <input type="number" id="timewaiting" name="timewaiting" 
                        placeholder="Amount of seconds to wait before sending text" minlength=1
                        maxlength=300>
                    </div>
                    <!-- Submit -->
                    <div class="inputDiv">
                        <div class="addLearnRTagDiv" id="addLearnRInformDiv">
                            <button class="smallAddLearnRTagButton" id="addLearnRInformButton" onclick="addInform()">Add Learnr Inform</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/* SUBMIT BUTTON */}}
            <div class="feildsSectionDiv">
                <div class="fieldSection" id="signUpSubmitB">
                    <button class="longActionDivButton" id="submitLearnR">Submit</button>
                </div>
            </div>
            {{/* INFORMITIVE DIV */}}
            <div class="feildsSectionDiv">
                <div class="informativeDiv" id="informativeDivLearnOrg">
                    <p class="informtextP" id="informtextPLearnr"></p>
                </div>
            </div>
        </div>
        <div class="informFormDiv" id="informFormDiv">
            <p class="informFormP" id="informFormP"></p>
        </div>
    </div>
{{end}}

{{/* MAIN PAGE SECTION */}}
{{define "learnrholder"}}

{{end}}

{{/*** Javascript sections for data ***/}}
{{/* SEND USER DATA BEGINNING */}}
{{define "setUsername"}}
    <script>
        var variablepassed = "{{.}}";
        setUsername(variablepassed);
    </script>
{{end}}
{{define "setPassword"}}
    <script>
        var variablepassed = "{{.}}";
        setPassword(variablepassed);
    </script>
{{end}}
{{define "setFirstname"}}
    <script>
        var variablepassed = "{{.}}";
        setFirstname(variablepassed);
    </script>
{{end}}
{{define "setLastname"}}
    <script>
        var variablepassed = "{{.}}";
        setLastname(variablepassed);
    </script>
{{end}}
{{define "setPhoneNums"}}
    <script>
        var variablepassed = String("{{.}}");
        setPhoneNums(variablepassed);
    </script>
{{end}}
{{define "setUserID"}}
    <script>
        var variablepassed = Number({{.}});
        setUserID({{.}});
    </script>
{{end}}
{{define "setEmail"}}
    <script>
        var variablepassed = String("{{.}}");
        setEmail(variablepassed);
    </script>
{{end}}
{{define "setWhoAre"}}
    <script>
        var variablepassed = "{{.}}";
        setWhoAre(variablepassed);
    </script>
{{end}}
{{define "setAdminOrgs"}}
    <script>
        var variablepassed = Number("{{.}}");
        setAdminOrgs(variablepassed);
    </script>
{{end}}
{{define "setOrgMember"}}
    <script>
        var variablepassed = Number("{{.}}");
        setOrgMember(variablepassed);
    </script>
{{end}}
{{define "sendBanned"}}
    <script>
        var variablepassed = Boolean({{.}});
        setBanned(variablepassed);
    </script>
{{end}}
{{define "setDateCreated"}}
    <script>
        var variablepassed = "{{.}}";
        setDateCreated(variablepassed);
    </script>
{{end}}
{{define "setDateUpdated"}}
    <script>
        var variablepassed = "{{.}}";
        setDateUpdated(variablepassed);
    </script>
{{end}}
{{/* SEND USER DATA ENDING */}}

{{/* SEND LEARNR DATA BEGINNING */}}
{{define "sendNewLearnRSearch"}}
    <script>
        var variablepassed = Number("{{.}}");
        setLearnnRSearchNew(variablepassed);
    </script>
{{end}}
{{/* SEND LEARNR DATA ENDING */}}