#Ignore my general notes
generalnotes.txt

#Ignore the bad phrases
badphrases.txt

#ignore all security folders
security
security/mongocreds.txt
mongocreds.txt

#ignore all logging folders
logging
weblog.txt
project/webapp/golang/project/logging
project/crud-microservice-app/golang/testing-project/test-data
project/webapp/golang/testing-project/logging
project/text-api-microservice-app/golang/testing-project/test-data
project/text-api-microservice-app/golang/testing-project/security
project/text-api-microservice-app/golang/testing-project/logging
project/text-api-microservice-app/golang/testing-project/security/text-microservice-keypair.pem
project/text-api-microservice-app/golang/testing-project/security/installallbinary


#texting credentials
project/text-api-microservice-app/golang/testing-project/security/twiliocreds.txt
project/crud-microservice-app/golang/testing-project/security/crud-microserv-key.pem
project/crud-microservice-app/golang/testing-project/security/env.list
project/text-api-microservice-app/golang/project/logging
project/text-api-microservice-app/golang/project/security
project/crud-microservice-app/golang/project/startup
project/webapp/golang/project/notes.txt



#Amazon Work Files
project/text-api-microservice-app/golang/testing-project/aws-workfiles
project/text-api-microservice-app/golang/project/aws-workfiles
project/webapp/golang/testing-project/tempFiles
project/webapp/golang/project/tempFiles