#Ignore my general notes
generalnotes.txt

#Ignore the bad phrases
badphrases.txt

#ignore all security folders
security
security/mongocreds.txt
mongocreds.txt

#ignore all logging folders
logging
weblog.txt
project/webapp/golang/project/logging
project/crud-microservice-app/golang/testing-project/test-data
project/webapp/golang/testing-project/logging
project/text-api-microservice-app/golang/testing-project/test-data
project/text-api-microservice-app/golang/testing-project/security
project/text-api-microservice-app/golang/testing-project/logging
project/text-api-microservice-app/golang/testing-project/security/text-microservice-keypair.pem
project/text-api-microservice-app/golang/testing-project/security/installallbinary


#texting credentials
project/text-api-microservice-app/golang/testing-project/texting.go
project/text-api-microservice-app/golang/testing-project/security/twiliocreds.txt