/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* You need to initialize the parent elements to 100%
for this to work correctly in the scrollable div */
body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font: inherit;
    vertical-align: baseline;
    /* debug */
    /* background-color: rgb(165, 122, 190); */
}

/* LOGIN PAGE STYLING */
.mainContentDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
    /* styling */
    /* background-color: rgb(148, 148, 211); */
    /* debug styling */
    border: 1px solid rgb(118, 62, 151);
}

.divLoginStuff {
    /* flex box display */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* styling */
    padding: 1rem;
    margin: 1rem;
    /* debug */
    /* border: 1px solid green; */
}

.instructUserDiv{
    /* flexbox display */
    display: block;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    /* styling */

    /* debug */
    /* border: 1px solid pink; */
}

.signInAndUpDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    /* debug */
    /* border: 1px solid salmon; */
}

.actionDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    /* styling */
    padding-top: .5em;
    padding-bottom: .5em;
    /* debug */
    /* border: 1px solid purple; */
}

.divformDiv {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    /* styling */
    padding-top: .2rem;
    padding-bottom: .2rem;
    /* debug styling */
    
}

.signInAlignmentDiv{
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* debug styling */
}

.feildsSectionDiv{
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .5em;
    /* debug */
}

.informFormDiv{
    /* flexbox styling */
    display: block;
    align-content: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.informFormP{
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
}

/* SYTLING FOR THE FORMS */

#sign-in-form {
    align-self: center;
}

.labelDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 40%;
    margin-right: 1em;
    /* DEBUG */
}

.labelPText {
    /* styling */
    align-self: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'Goldman', cursive;
    color: rgb(0, 0, 0);
}

.inputDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 40%;
    margin-left: 1em;
    /* Debug */
}

.fieldSection{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* styling */
    padding-top: 1rem;
    /* DEBUG */
}

#my-form-button{
    display: inline-block;
    text-align: center;
    align-self: center;
    /* styling */
    font-size: 1rem;
}

#inputTextMobileUN{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}


#inputTextMobilePW{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#username-err {

}

#password-err {

}

.form-field-err {
    font-size: 1rem;
}

.informtextP{
    font-size: 2rem;
    text-align: center;
    align-self: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
}

.formSign{
    font-family: 'Nova Flat', cursive, sans-serif;
    font-size: 2rem;
    text-align: center;
}

/** STYLING FOR THE HEADER **/ 
.every_header{

}

.mbHeaderDiv{
    display: block;
    width: 100%;
}

.namediv {
    /* Flexbox setup */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* Styling */
    background-color: rgb(129, 28, 42);
    padding: .2em;
    /* DEBUG */
    /* border: 1px solid black; */
}

.headerImg{
    width: 30vw;
    height: 30vw;
    align-self: center;
    justify-self: center;
} 

.displayH1 {
    /* This is for style */
    font-family: 'Bowlby One SC', cursive, serif, sans-serif;
    font-size: 3rem;
    /* font alignment */
    align-content: center;
    text-align: center;
}

.navigationHolderDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* Styling */
    background-color: rgb(129, 28, 42);
    /* DEBUG */
    /* border: 1px solid black; */
}

.navigationLinkDiv{
    /* Flexbox setup */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* Styling */
    padding-left: .4em;
    padding-right: .4em;
    margin-left: .2em;
    margin-right: .2em;
    /* border: 1px solid black; */
    /* DEBUG */
}

.navigationLinkDiv:hover{
    /* Flexbox setup */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* Styling */
    padding-left: .4em;
    padding-right: .4em;
    margin-left: .2em;
    margin-right: .2em;
    border: 1.5px solid black;
    /* DEBUG */
}

.navigationLinkP{
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.navigationLinkP:hover{
    font-family: 'Bangers', cursive, sans-serif;
    cursor: pointer;
}

.header-ad-Div{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    /* styling */
    align-content: center;
    justify-content: center;
    background-color: rgb(129, 28, 42);
    /* DEBUG */
    /* border: 1px solid black; */
}


/* LearnR Page Styling */
.resultHolderInformDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.resultHolderTagDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.multiInputHolderDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}


.addLearnRDiv{
    /* flex-box display */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.resultTagDiv{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 5vh;
    width: 5vw;
    /* styling */
    margin-left: .2em;
    margin-right: .2em;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid black;
    background-color: grey;
}

.resultTagDiv:hover{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 5.5vh;
    width: 5.5vw;
    /* styling */
    margin-left: .2em;
    margin-right: .2em;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid black;
    background-color: grey;
    /* change cursor */
    cursor: pointer;
}

.resultTagP{
    font-size: 1rem;
    color: black;
}

.resultLearnrInformDiv{
    display: block;
    /* styling */
    margin-left: .2em;
    margin-right: .2em;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid black;
    background-color: grey;
}

.resultLearnrInformDiv:hover{
    display: block;
    /* styling */
    margin-left: .2em;
    margin-right: .2em;
    padding-left: .2em;
    padding-right: .2em;
    border: 1px solid black;
    background-color: grey;
    cursor: pointer;
}

.resultInformP{
    font-size: 1rem;
    color: black;
}

/* MainPage Styling */
.searchFieldDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .3em;
    border: 2px solid black;
}

.searchbarTitle{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* styling */
    padding: .3em;
    border: 2px solid black;
}

.titleTextP{
    font-size: 3rem;
    text-align: center;
}

.searchBarDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .1em;
    border: 1px solid black;
}

.inputHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* styling */

    /* debug */
}

.searchInput{

}

.resultThing{
    font-size: 2rem;
    text-align: center;
}

/* LearnR Div Holder styling */
.learnrHolderDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .3em;
    /* styling */
    border: 1px solid red;
}

.descriptionHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .2em;
    /* styling */
    border: 1px solid rgb(18, 145, 184);
}

.resultLearnrHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: .3em;
    margin: .2em;
    border: 1px solid black;
    /* debug */
}

.learnRnameDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    border: 1px solid black;
    /* debug */
}

.sendLearnRDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    border: 1px solid purple;
    /* debug */
}

.infolearnrHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* styling */

    /* debug */
    border: 1px solid brown;
    
}

.aInfoDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 45%;
    /* styling */

    /* debug */
    border: 1px solid purple;
}

.learnRField{
    font-size: 1rem;
    color: black;
}

.aBigInfoDiv {
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* styling */

    /* debug styling */
    border: 1px solid seagreen;
}

.sendLearnRButtonDiv{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* styling */
    
    /* debug */
    border: 2px solid black;
}

.seeOptionsButton{
    font-size: 1rem;
    width: 100%;
}

.interiorBigInfoDiv {
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* styling */
    padding-left: .3em;
    padding-right: .3em;
    /* debug */
    border: 3px solid aquamarine;
}

.fieldsideDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 40%;
    /* DEBUG */
}

.fieldP {
    font-size: 1rem;
    text-align: center;
}

.fieldInput {

}

.fieldTextAreaInput {
    
}

.sendButton{
    font-size: 1rem;
    width: 10em;
    height: 10em;
}

.resultInput{
    text-align: center;
    font-size: 1rem;
}

.textHolder {
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* stlying */
    padding: .5em;
    /* debug */
    border: 1px solid gold;
}

.textFont{
    font-size: 1rem;
}

.allTextHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* stlying */
    
    /* debug */
    border: 1px solid pink;
}

.aTextHolder{
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    /* stlying */
    
    /* debug */
    border: 1px solid rgb(0, 0, 0);
}