<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/pagehandling.js"></script>
        <script src="static/js/app.js"></script>
        {{/* AngularJS for added email address */}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        {{/* Send data to javascript */}}
        {{$theUser := .TheUser}}
        {{$messageDisplay := .MessageDisplay}}
        {{/* Need to loop through arrays because Javascript dosen't like what gets passed in */}}
        {{/* Emails */}}
        {{range $element := .TheUser.Email}}
            {{template "setEmail" $element}}
        {{end}}
        {{/* Admin Orgs */}}
        {{range $element := .TheUser.AdminOrgs}}
            {{template "setAdminOrgs" $element}}
        {{end}}
        {{/* Org Member */}}
        {{range $element := .TheUser.OrgMember}}
            {{template "setOrgMember" $element}}
        {{end}}
        {{/* Phone Nums */}}
        {{range $element := .TheUser.PhoneNums}}
            {{template "setPhoneNums" $element}}
        {{end}}

        {{template "setUsername" .TheUser.UserName}}
        {{template "setPassword" .TheUser.Password}}
        {{template "setFirstname" .TheUser.Firstname}}
        {{template "setLastname" .TheUser.Lastname}}
        {{template "setUserID" .TheUser.UserID}}
        {{template "setWhoAre" .TheUser.Whoare}}
        {{template "sendBanned" .TheUser.Banned}}
        {{template "setDateCreated" .TheUser.DateCreated}}
        {{template "setDateUpdated" .TheUser.DateUpdated}}

        {{/* Here is our header */}}
        {{template "header_everywhere" $theUser}}

        
        {{/* Main */}}
        <div class="mainContentMoreDiv">
            <!-- What is a LearnR? -->
            <div class="titleDiv">
                <p class="titleP">
                    What is LearnR?
                </p>
            </div>
            <div class="textDiv">
                <p class="textP">
                    How often have you crossed paths with someone who was misinformed?
                    Perhaps you have a close family member who insists the moon landing was faked?
                    A flat-earther friend? No doubt you’ll cross MANY more in your lifetime.
                    In the internet age, falsehoods spread MUCH quicker. Given short time and
                    solidified groupthink within information bubbles, it can be hard to penetrate
                    those falsehoods with reality. Instead of taking time to educate these people 
                    in your life yourself, wouldn’t it be nice to have a tool to educate them for you?
                </p>
                <p class="textP">
                    Meet LearnRs! LearnRs are curated, researched stories that can help
                    illuminate folks on various topics. These span the range from sex-education,
                    history, science, civic activities in your area, and much more!
                    These LearnRs are checked for accuracy and integrity above all, 
                    linking to comprehensive research submitted by progressive-thinking institutions.
                </p>
            </div>
            <!-- How Does it Work? -->
            <div class="titleDiv">
                <p class="titleP">
                    How does it work?
                </p>
            </div>
            <div class="textDiv">
                <p class="textP">
                    You can search for a LearnR in the ‘Main Page’,
                    (read below to find out how to submit a LearnR of your own). 
                    Find the appropriate LearnR for the person you’d like to educate. 
                    Then, just fill in their name and phone number, a personalized message from you, 
                    then send! They should receive a series of text messages from you, asking if it’s okay
                    to educate them on this topic. Remember, LearnRs are used to EDUCATE, not scold!
                    When you can, you should ALWAYS inform your subject about your intent BEFORE sending a LearnR.
                </p>
                <p class="textP">
                    Each LearnR takes about 10 minutes to educate, maximum. Your friends/family will
                    receive text messages linking to articles, video testimonies from expert subjects, graphs,
                    research papers, and more! LearnRs are typically paced to give them quick information on each point, 
                    with supplementary links on each point if they’d like to learn more. After the LearnR has ended, 
                    give them time and ask them what they think. Some LearnRs aren’t immediately persuasive, but can help 
                    illustrate what thorough research on a subject looks like. In time, this can help your loved ones 
                    develop more critical though on information they take in elsewhere!
                </p>
                <p class="textP">
                    Note: LearnRs will not add additional fees to the Users who receive them. 
                    Users can text STOP to halt any further messages sent to their device.
                </p>
            </div>
            <!-- Creating a LearnR -->
            <div class="titleDiv">
                <p class="titleP">
                    Creating a LearnR
                </p>
            </div>
            <div class="textDiv">
                <p class="textP">
                    Are you looking to educate the public on a certain topic? Making a LearnR is a fast,
                    efficient way to communicate your subject to anyone with a phone!
                </p>
                <p class="textP">
                    First, you’ll need to create a ‘LearnROrg’. This is a brief explanation
                    of who you are and what you mean to present. You can include any accreditation
                    or experience you have on the subject. Also include any topics you plan to inform Users on in the future!
                </p>
                <p class="textP">
                    Anyone within your LearnROrg can create a LearnR,
                    but its contents must be read and approved by an appointed Admin
                    within your Organization. Once it is approved, your LearnR will become public,
                    and can be accessed and used by anyone on the site.
                </p>
                <p class="textP">
                    Please note, successful LearnRs adhere to a given format. These are:
                </p>
                <div class="listDiv">
                    <ul class="ulList">
                        <li class="liList">
                            <b class="boldText">Short and Sweet</b> – Each text is allowed only 160 characters and LearnRs are
                            intended to last around 10-15 minutes maximum. Be sure not to ramble and make short,
                            engaging presentation to your User
                        </li>
                        <li class="liList">
                            <b class="boldText">Finger the Point</b> – Using the ‘Finger the Point’ method,
                            your arguments should follow a short, direct structure to your research.
                            Say for instance, you’d like to make a point that, ‘The Earth is Round
                            because we can calculate it’s circumference’. Make your argument in text form,
                            then point to a direct example, research blurb, or short testimony expanding on that concept.
                            Try not to link an entire article containing the example leading from your ‘point’ you ‘fingered’.
                            The User can read the rest of the research if need be. Instead, try creating links that open directly
                            to where you’d like to ‘point’.
                            <a href="https://www.theverge.com/2020/6/18/21295300/google-link-to-text-fragment-chrome-extension-chromium-highlight-scroll-down"
                            target="_blank" alt="example">Example</a>
                        </li>
                        <li class="liList">
                            <b class="boldText">Create a Welcoming Atmosphere</b> – LearnRs should strike a certain ‘tone’, no matter
                            the subject it is sent to. LearnRs should not be competitive, but neutrally
                            educational. Write your LearnRs like you’re educating an alien species
                            of misguided but sweet grandmothers. You wouldn’t want to be mean to your granny, would you?!
                        </li>
                        <li class="liList">
                            <b class="boldText">Draw a Contrast</b> – Part of the challenge of combatting
                            misinformation is evacuating people from information bubbles. Drawing
                            contrasts between groupthink and reliable sources can be a tool to assist
                            in that effort. Your LearnR can take advantage of this. Try presenting a
                            commonly viewed piece from these information bubbles that combat your argument;
                            then, ‘Finger a Point’ to a well sourced piece that can factually contrast
                            the previous piece. Remember, the ‘Fingered Point’ should be non-combative, short,
                            and well sourced to be effective.
                        </li>
                        <li class="liList">
                            <b class="boldText">Follow the Rules</b> - 
                            Of course, LearnRs are subject to review and dismissal. 
                            Do NOT include material that promotes the following: 
                            1. Dangerous Misinformation 2. Promotes violence 
                            3. Promotes bigotry, including sexism, homophobia, transphobia, xenophobia, and racism.
                            This is a platform for education, not indoctrination.
                            Any LearnR that is seen breaking these rules will be removed and LearnROrgs will be banned.
                        </li>
                        <li class="liList">
                            <b class="boldText">Call To Action</b> – Once educated, some people would
                            like to do more. At the end of your LearnR, feel free to include ‘Call to Actions’.
                            These can include volunteer work, further reading, and much more. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{/* Here is our footer */}}
    </body>
</html>